<!DOCTYPE html>
<html>
<head>
  <title>Weldco</title>
  <%= stylesheet_link_tag   "application", "weldoco", "theme_grey", "forgot_password", "spreadsheet" %>
  <%= javascript_include_tag "application", "forgot_password" %>

  <%= csrf_meta_tags %>
</head>
<body>
	
	
	<div class="page" style=" background:none;">
		<!-- Header -->
		<div id="shell-header-navigation">
	  
			<div id="navigation">
				<div class="topbar">
					<div class="topbar-inner">
						<div class="container">
							<% if current_user.present? %>
								<ul class="setting-navigation nav secondary-nav">
									<li class="dropdown">
										<% @str = "<span id='header_nav_username'>" + current_user.name + "</span>" + "<b class='caret'>&nbsp;</b>" %>
										<%= link_to (raw @str), "#", {:class => "dropdown-toggle", 'data-toggle'=>"dropdown" } %>
										<ul class="dropdown-menu">
											<li><%= link_to "Change Language", "#" %></li>
											<li class="divider">&nbsp;</li>
											<li><%= link_to "Change Password", "#" %></li>
											<li class="divider">&nbsp;</li>
											<li><%= link_to "Profile Settings", "#" %></li>
											<li><%= link_to "Company Settings", edit_company_path(current_user.company) %></li>
											<li class="divider">&nbsp;</li>
											<li><%= link_to "Sign Out", logout_path %></li>
										</ul>
									</li>
								</ul>
								<ul class="nav" id="user_top_header">
									<li class="hasDD">
										<% @str = "<span>" +  image_tag('home_1.png', {:size => "15x15", :id => "dashboard_link", :class => "home_icon selected" }) + "&nbsp;&nbsp;&nbsp;" + "</span>" %>
										<%= link_to (raw @str), "/" %>
									</li>
									<li class="dropdown",  data-dropdown="dropdown">
										<% @str = "Clients" + "<b class='caret'>&nbsp;</b>" %>
										<%= link_to (raw @str), "#", {:class => "dropdown-toggle", 'data-toggle'=>"dropdown", :id => "profile_link"}%>
										<ul class="dropdown-menu">
											<li><%= link_to "All Clients", clients_path, :onclick =>'toggleClassSelected("myClients")' %></li>
											<li class="divider">&nbsp;</li>
											<li><%= link_to "Add Clients", new_client_path, :onclick =>'toggleClassSelected("newClient")' %></li>
										</ul>
		      						</li>
									<li class="dropdown">
										<% @str = "Projects" + "<b class='caret'>&nbsp;</b>" %>
										<%= link_to (raw @str), "#", { :class => "dropdown-toggle", 'data-toggle'=>"dropdown",  :id => "profile_link"}%>
										<ul class="dropdown-menu">
											<li><%= link_to "All Projects", projects_path, :onclick =>'toggleClassSelected("myProjects")' %></li>
											<li class="divider">&nbsp;</li>
											<li><%= link_to "Add Project", new_project_path, :onclick =>'toggleClassSelected("newProject")' %></li>
										</ul>
		      						</li>
									<li class="dropdown">
										<% @str = "Systems" + "<b class='caret'>&nbsp;</b>" %>
										<%= link_to (raw @str), "#", {:class => "dropdown-toggle", 'data-toggle'=>"dropdown",  :id => "profile_link"}%>
										<ul class="dropdown-menu">
											<li><%= link_to "All Systems", "#" %></li>
											<li class="divider">&nbsp;</li>
											<li><%= link_to "Add a system", "#" %></li>
										</ul>
		      						</li>
									<li class="dropdown">
										<% @str = "Drawings" + "<b class='caret'>&nbsp;</b>" %>
										<%= link_to (raw @str), "#", {:class => "dropdown-toggle", 'data-toggle'=>"dropdown",  :id => "profile_link"}%>
										<ul class="dropdown-menu">
											<li><%= link_to "All Drawings", "#" %></li>
											<li class="divider">&nbsp;</li>
											<li><%= link_to "Add a drawing", "#" %></li>
										</ul>
		      						</li>
									<li class="dropdown">
										<% @str = "Welds" + "<b class='caret'>&nbsp;</b>" %>
										<%= link_to (raw @str), "#", {:class => "dropdown-toggle", 'data-toggle'=>"dropdown", :id => "profile_link"}%>
										<ul class="dropdown-menu">
											<li><%= link_to "All Welds", "#" %></li>
											<li class="divider">&nbsp;</li>
											<li><%= link_to "Add a weld", "#" %></li>
										</ul>
		      						</li>
								</ul>
							<% else %>
								<ul class="nav" id="user_top_header">
			    					<li>
										<%= link_to "Login", login_path, {:class => "selected"}%>
			    					</li>
			  					</ul>
							<% end %>					
		  					<div class="clearfloat"></div>

						</div>
					</div>
				</div>
			</div>
			


		  <div class="cl"></div>
		  <!-- Header End -->
		      <div class="body login_page_body">
		        <!-- right column -->
		        <!-- here's our main content -->
		        <div class="main">
		          <style type="text/css">
		  div.content-wrapper{
		    background:#fff;
		    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
		    background:-webkit-linear-gradient(top,#fff 0,#ddd 100%);
		    background:-moz-linear-gradient(top,#fff 0,#ddd 100%);
		    background:-ms-linear-gradient(top,#fff 0,#ddd 100%);
		    background:-o-linear-gradient(top,#fff 0,#ddd 100%);
		    background:linear-gradient(top,#fff 0,#ddd 100%);
		    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
		    border:solid 1px #ccc;
		    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);
		    -moz-box-shadow:0 1px 0 rgba(0,0,0,.1);
		    box-shadow:0 1px 0 rgba(0,0,0,.1);
		    border-radius: 4px;
		  }
		  .userId_box input[type="text"], .userId_box input[type="password"]{
		    border: 1px solid #CCCCCC;
		    box-shadow: 0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;
		  }
		  hr.top-seperator {
		    border-bottom: 1px solid #E2E2E2;
		    border-top: medium none;
		    clear: both;
		    color: red;
		    margin: 0 -20px 25px;
		    width: 400px;
		  }
		  span.rcContainer label {
		    color: #999999;
		    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
		  }
		</style>
        
		
		<%= yield %>
		
		</div>
		</div>
		</div>
		
		  	<div class="clearfloat"></div>
			</div></div>

	  	</div>
	  	<div class="foot foot_languages">

	      	<div class="left">
				<a href="/locale/en" class="language">About Us</a><span>|</span><a href="/locale/de" class="language">Our Services</a><span>|</span><a href="/locale/es" class="language">Contact Us</a><span>|</span><a href="/locale/fr" class="language">Portfolio</a><span>|</span><a href="/locale/nl" class="language">Careers</a><span>|</span><a href="/locale/tr" class="language">Blog</a>
		   </div>
	      	<div class="right">

	      	</div>

		
	</div>
	
</body>
<script>
$(document).ready(function(){
$('.dropdown-toggle').dropdown()
});
</script>
</html>
